# Editable Git install with no remote (cc-starter==0.0)
-e /Users/tim/Dev/pyramiddemo/cc_starter
hupper==1.12
Jinja2==3.1.2
Mako==1.2.4
MarkupSafe==2.1.2
PasteDeploy==3.0.1
plaster==1.1.2
plaster-pastedeploy==1.0.1
Pygments==2.15.0
pyramid==2.0.1
pyramid-debugtoolbar==4.10
pyramid-jinja2==2.10
pyramid-mako==1.1.0
translationstring==1.4
venusian==3.0.0
waitress==2.1.2
WebOb==1.8.7
zope.deprecation==5.0
zope.interface==6.0
